
@media (max-width:410px){

    .main {
        margin-top:1em;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
      }
      .container {
        margin:1em auto; 
        width: 80%;
      
        display: grid;
      }
      .container h1 {
     
        margin: 1em 0;
      }
      .container h3 {
        color: rgb(3, 110, 182);
        margin: 0.5em 0;
      }
      .container h4 {
       color: rgb(3, 110, 182);
        margin: 0.5em 0;
      }
      .container p {
          font-size: 1em;
        text-align: justify;
      } 
      
      .container >img ,iframe{

        width: 100%;
        margin: 2em auto;
      }
      
}
@media(min-width:411px){
  .container >img ,iframe{

    width: 90%;
    height: 17em;
    margin: auto;
  }
    .main {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
      }
      .container {
        margin: auto;
        width: 70%;
      justify-content: center;

        display: grid;
        grid-template-columns: 60% 40%;
      }
      .container h1 {
        grid-column: 1/3;
        margin: 1em 0;
      }
      .container h3 {
        grid-column: 1/3;
        margin: 0.5em 0;     color: rgb(3, 110, 182);
      }
      .container h4 {
        grid-column: 1/3;
        margin: 0.5em 0;     color: rgb(3, 110, 182);
      }
      .container p {
        text-align: justify;
      }
}